<div class="page-header">
  h1>All of the statuses</h1>
</div>

<% @statuses.each do |status| %>
  <div class="staus">
    <strong><%= status.name%></strong>
    <p><%status.content%></p>
      <div class="meta">
        <%= link_to "Show", status
        %>
        <span class = "admin">
          <%= link_to "Edit", edit_status_path(status)%>
        </span>
      </div>
    </div>
  </div>
<%end%>
