<div class="page-header">
  h1>All of the statuses</h1>
</div>

<% @statuses.each do |status| %>
  <div class="staus">
    <strong><%= status.name%></strong>
    <p><%status.content%></p>
  </div>
<%end%>
